div{
    width: 400px;
    height: 200px;
    background-color: goldenrod;
    transition-duration: 2s;
    margin-bottom: 20px ;
}

div:hover{
    filter: grayscale(100%);
}

img{
    width: 400px;
    height: 200px;
    background-color: goldenrod;
    /* filter: blur(5px); */
    filter: invert(100%);
    transition-duration: 1s;
}

img:hover{
    filter: invert(0);
    /* filter: blur(0); */
}