div{
    background-color:brown ;
    padding:10px ;
    margin: 10px;
    min-width: 40px;
    min-height: 20px;
    max-width: 80px;
    max-height: 40px;
}

/*! الdefault انه ال width كل الشاشة وال height بضله يتمدد */
/* التحكم بالكلام الخارج من ال height و ال width */

.a, 
.b,
.c {
    overflow:hidden  ;
}

.c{
    min-height: 10px;
    max-height: 13px;
}

.c:hover{
    overflow:visible;
    min-width: fit-content;
    min-height: fit-content;
    max-width: fit-content;
    max-height: fit-content;

}
