body{
    counter-increment:sultan;
}
*{
    margin: 0;
    box-sizing: border-box;
}
p{
    position: relative;
    background-color: beige;
    padding: 20px;
    width: 800px;
    margin: 20px auto;
}
p::before{
    content:"";
    position: absolute;
    width: 50px;
    height: 100%;
    background-color: orange;
    top: 0;
    left: -50px;
}
p::after{
    content:"";
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: orange;
    top: 0;
    right: -15px;
}